@font-face {
  font-family: "UniversCyr 500";
  src: url("../fonts/UniversLTCYR-500.eot");
  src: url("../fonts/UniversLTCYR-500.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "UniversCyr 700";
  src: url("../fonts/UniversLTCYR-700.eot");
  src: url("../fonts/UniversLTCYR-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

body {
  background: #E5E5E5;
}

button {
  cursor: pointer;
}

.container {
  margin: auto;
  width: 1024px;
  height: 768px;
  background: #FFFFFF;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 37px;
  box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.1);
}

.wrapper-icon svg {
  cursor: pointer;
}

.wrapper-logo {
  position: relative;
}

.wrapper-logo img {
  width: 81px;
  height: 68px;
}

.wrapper-logo svg {
  position: absolute;
  right: 38%;
  top: 20%;
}

.schedule {
  position: relative;
  height: 90%;
  padding-top: 192px;
  background-image: url(../images/BG-schedule.png);
  background-size: cover;
}

.dynamics {
  display: flex;
  padding-left: 37px;
  margin-bottom: 65px;
}
.dynamics__picture {
  position: relative;
  width: 688px;
  height: 320px;
  margin-right: 10px;
  background-image: url(../images/legends-1.png);
  background-size: cover;
}
.dynamics__picture img {
  position: absolute;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.dynamics__picture__red {
  left: 53% !important;
}
.dynamics__text {
  max-width: 250px;
  padding: 25px;
  font-family: "UniversCyr 500";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #CE005B;
  border: 2px solid #CE005B;
  border-radius: 48px;
}
.dynamics-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 175px;
  margin: auto;
}
.dynamics-buttons__button {
  position: relative;
  width: 50px;
  height: 50px;
  background: #F7F7FC;
  box-shadow: inset 2px 2px 6px rgba(0, 12, 70, 0.2);
  border: 1px solid rgba(0, 12, 70, 0.2);
  border-radius: 200px;
}
.dynamics-buttons__button::before {
  position: absolute;
  content: "";
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  box-shadow: 2px 2px 6px rgba(2, 0, 91, 0.2), inset -12px -12px 24px rgba(2, 0, 91, 0.1);
  border-radius: 800px;
}
.dynamics-buttons__button:hover {
  box-shadow: inset 2px 2px 6px 6px rgba(0, 12, 70, 0.2);
}
.dynamics-buttons__button1 {
  background: linear-gradient(135deg, #CE005B 15.36%, #FF57A1 84.64%);
  box-shadow: inset 2px 2px 6px rgba(0, 12, 70, 0.5);
}

.popup {
  display: none;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
.popup__text {
  padding: 44px 31px;
  font-family: "UniversCyr 500";
  font-size: 15px;
  color: #5E6C78;
}
.popup__button__close {
  position: absolute;
  bottom: 12%;
  left: 50%;
  right: 50%;
  width: 48px;
  height: 48px;
  background: #F7F7FC;
  box-shadow: inset 2px 2px 6px rgba(0, 12, 70, 0.2);
  border: 1px solid rgba(0, 12, 70, 0.2);
  border-radius: 200px;
}
.popup__button__close::before {
  position: absolute;
  content: url(../images/popup-button.svg);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FF57A1;
  box-shadow: 1.5px 1.5px 4.5px rgba(2, 0, 91, 0.2), inset -12px -12px 24px #CE005B;
  border-radius: 600px;
}

.popup img {
  width: 100%;
  height: 85%;
}/*# sourceMappingURL=styles.css.map */